.project {
	max-width: 370px;
	background-color: black;
	border-radius: 0px;
	/* border: 3px solid rgb(255, 255, 255) */
}

.project__img {
	width: 100%;
}

.project__title {
	padding: 15px 20px 15px;
	font-size: 15px;
	color: rgb(255, 255, 255);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	display: flex;
	justify-content: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
}

.project__title:hover {
	color: #7c0000; /* Change the color to a darker shade */
  }