body {
    background-color: #000; /* change the background color to black */
  }
  .container {
    max-width: 1200px; /* adjust the width to your liking */
    margin: 40px auto; /* center the container horizontally */
    padding: 20px;
    text-align: center; /* center the video container */
  }
  
  .video-container {
    display: flex;
    justify-content: center; /* center the videos horizontally */
    flex-wrap: nowrap; /* prevent the videos from wrapping to the next line */
  }
  
  .video-wrapper {
    margin: 20px;
    width: 300px; /* adjust the width to your liking */
    border: 1px solid #ccc; /* add a gray border around each video */
    border-radius: 10px; /* add a rounded corner to the border */
    padding: 10px; /* add some padding around the video */
    display: flex; /* make the video wrapper a flex container */
    flex-direction: column; /* stack the video and description vertically */
    align-items: flex-start; /* align the description to the left */
  }
  
  .video-wrapper p {
    text-align: left; /* align the description text to the left */
  }

  p{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }